<?xml version="1.0"?>
<config>
  <modules>
    <Ziwira_Customcode>
      <version>0.1.0</version>
    </Ziwira_Customcode>
  </modules>
  <global>
    <helpers>
      <customcode>
        <class>Ziwira_Customcode_Helper</class>
      </customcode>
    </helpers>
	<models>
	  <customcode>
		<class>Ziwira_Customcode_Model</class>
		<resourceModel>customcode_mysql4</resourceModel>
	  </customcode>
	</models>
	<resources>
	  <categoryattribute1473450909_setup>
		<setup>
		  <module>Ziwira_Customcode</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1473450909_setup>
	  <categoryattribute1473450909_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1473450909_write>
	  <categoryattribute1473450909_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1473450909_read>
	</resources>
  </global>
</config> 