<?xml version="1.0"?>
<config>
  <modules>
    <Collinsharper_Core>
      <version>2.3</version>
    </Collinsharper_Core>
  </modules>
	<global>
		<resources>
		  <chcore_setup>
			  <setup>
				  <module>Collinsharper_Core</module>
			  </setup>
			  <connection>
				  <use>core_setup</use>
			  </connection>
		  </chcore_setup>
		  <chcore_write>
			  <connection>
				  <use>core_write</use>
			  </connection>
		  </chcore_write>
		  <chcore_read>
			  <connection>
				  <use>core_read</use>
			  </connection>
		  </chcore_read>
		</resources>
		<models>
			<core>
				<rewrite>
				<design_package>Collinsharper_Core_Model_Design_Package</design_package>
				</rewrite>
			</core>
			<chcore>
				<class>Collinsharper_Core_Model</class>
			</chcore>
		</models>
	  <helpers>
		  <chcore>
			  <class>Collinsharper_Core_Helper</class>
		  </chcore>
	  </helpers>

	  <blocks>
		  <chcore>
			  <class>Collinsharper_Core_Block</class>
		  </chcore>
	  </blocks>
	</global>

	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<chcore>
											<title>Collins Harper - Modules</title>
										</chcore>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
			<controller_action_predispatch>
				<observers>
					<chcore>
						<type>singleton</type>
						<class>chcore/feed</class>
						<method>check</method>
					</chcore>
				</observers>
			</controller_action_predispatch>
		</events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<chcore before="Mage_Adminhtml">Collinsharper_Core_Adminhtml</chcore>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<chcore>
			<merged_cssjs>
				<tail></tail>
			</merged_cssjs>
			<feed>
				<url>www.collinsharper.com/blog/rss?identifier=Updates</url>
				<use_https>0</use_https>
				<check_frequency>86400</check_frequency>
				<enabled>1</enabled>
			</feed>
		</chcore>
	</default>
</config>
