<?xml version="1.0"?>
<config>
  <modules>
    <Ziwira_Emptycart>
      <version>0.1.0</version>
    </Ziwira_Emptycart>
  </modules>
  <frontend>
    <routers>
      <emptycart>
        <use>standard</use>
          <args>
            <module>Ziwira_Emptycart</module>
            <frontName>emptycart</frontName>
          </args>
      </emptycart>
    </routers>
		<layout>
		  <updates>
			<emptycart>
			  <file>emptycart.xml</file>
			</emptycart>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <emptycart>
        <class>Ziwira_Emptycart_Helper</class>
      </emptycart>
    </helpers>
	<blocks>
	  <emptycart>
		<class>Ziwira_Emptycart_Block</class>
	  </emptycart>
	</blocks>
  </global>
</config> 