<?xml version="1.0"?>
<config>
  <modules>
    <Ziwira_Customerfeedback>
      <version>0.1.0</version>
    </Ziwira_Customerfeedback>
  </modules>
  <frontend>
    <routers>
      <customerfeedback>
        <use>standard</use>
          <args>
            <module>Ziwira_Customerfeedback</module>
            <frontName>customerfeedback</frontName>
          </args>
      </customerfeedback>
    </routers>
		<layout>
		  <updates>
			<customerfeedback>
			  <file>customerfeedback.xml</file>
			</customerfeedback>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <customerfeedback>
        <class>Ziwira_Customerfeedback_Helper</class>
      </customerfeedback>
    </helpers>
	<blocks>
	  <customerfeedback>
		<class>Ziwira_Customerfeedback_Block</class>
	  </customerfeedback>
	</blocks>
	<models>
	  <customerfeedback>
		<class>Ziwira_Customerfeedback_Model</class>
		<resourceModel>customerfeedback_mysql4</resourceModel>
	  </customerfeedback>
	  <customerfeedback_mysql4>
		<class>Ziwira_Customerfeedback_Model_Mysql4</class>
		<entities>		  
			  <customerfeedback>
				<table>customerfeedback</table>
			  </customerfeedback>
        </entities>
	  </customerfeedback_mysql4>
	</models>
	<resources>
	  <customerfeedback_setup>
		<setup>
		  <module>Ziwira_Customerfeedback</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerfeedback_setup>
	  <customerfeedback_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerfeedback_write>
	  <customerfeedback_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerfeedback_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <customerfeedback>
	    <use>admin</use>
		<args>
		  <module>Ziwira_Customerfeedback</module>
		  <frontName>admin_customerfeedback</frontName>
		</args>
	  </customerfeedback>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <customerfeedback module="customerfeedback">
		<title>Customerfeedback</title>
		<sort_order>100</sort_order>
		<children>
		  <customerfeedback module="customerfeedback">
		    <title>Manage Customerfeedback</title>
			<sort_order>0</sort_order>
			<action>admin_customerfeedback/adminhtml_customerfeedback</action>
		  </customerfeedback>
		</children>
	  </customerfeedback>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<customerfeedback translate="title" module="customerfeedback">
			  <title>Customerfeedback</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <customerfeedback translate="title">
			<title>Manage Customerfeedback</title>
			<sort_order>0</sort_order>
		  </customerfeedback>
			  </children>
			</customerfeedback>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<customerfeedback>
		  <file>customerfeedback.xml</file>
		</customerfeedback>
	  </updates>
	</layout>
  </adminhtml>
</config> 